* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
 background-blend-mode: multiply,multiply;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color: #fff;
}

nav {
	padding: 20px 0;
	border-bottom: 2px solid #fff;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #6a6a6a;
}

nav ul {
	text-align: center;
}

nav li:not(:first-child) {
	margin-left: 20px;
}

nav li {
	display: inline;
}

#home {
	min-height: calc(100vh - 100px);
	padding-top: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#home > img {
	border-radius: 50%;
	margin-bottom: 10px;
}

#home h1 {
	font-size: 3rem;
}

#home p {
	font-size: 1.1rem;
	margin-bottom: 10px;
}

#home-content {
	text-align: center;
}

#home-icons img {
	width: 30px;
	height: 30px;
}

#home-icons a:not(:first-child) {
	margin-left: 20px;
}

#technologies {
	text-align: center;
	min-height: calc(100vh - 100px);
	padding-top: 100px;
}

#technologies img {
	height: 200px;
	width: 200px;
	margin: auto;
	padding: 30px 0 10px 0;
}

#projects {
	text-align: center;
	min-height: calc(100vh - 150px);
	padding-top: 100px;
}

footer {
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: #6a6a6a;
}